<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section class="login p-5" style="text-align: center">
        <div class="container">
            <h2>Login Credentials</h2><br>
            <form action="/login" method="POST">
                {{#if loginErr}}
                    <p class="error"> {{loginErr}}</p>
                {{/if}}
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" required><br>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="Password" required><br>

                <button type="submit">Login</button>

        </div>
        <div class="container">
            <a href="/signup">Create New Account ???</a>
        </div>
        </form>
    </section>
</body>

</html>